

body {
  background-color: rgb(243, 243, 243);
}

.bgSide {
  background-image: url('./images/hyrule.png');
  background-size: cover;
}

.paragraph {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Handjet', sans-serif;
  text-shadow:rgb(66, 66, 66) -1px 1px 7px

}

button {
  transition: 0.7s;
}

button:hover {
  background-color: rgb(247, 247, 247);
  filter: drop-shadow(0px 3px 5px #c0c0c0);
  transform: scale(1.05); 
}

.title {
  color: #fde5a3;
  
}

input {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(121, 121, 121);
}