

body {
  background-color: rgb(243, 243, 243);
}

header {
  background-color: rgba(100, 197, 92, 0.54);
}

.formInput {
  background-color: rgba(255, 238, 163, 0.9);
}

.bgSide {
  background-image: url('./images/hyrule.png');
  background-size: cover;
}

.paragraph {
  display: flex;
  flex-direction: column;
}

.text-login {
  font-family: 'Handjet', sans-serif;
  text-shadow:rgb(66, 66, 66) -1px 1px 7px

}

.button-login {
  background-color: #474747;
  transition: 0.7s;
  color: white;
}

.button-login:hover {
  filter: drop-shadow(0px 3px 5px #c0c0c0);
  transform: scale(1.08); 
}

.button-form {
  transition: 0.5s;
}

.button-form:hover {
  filter: drop-shadow(0px 3px 5px #c0c0c0);
  transform: scale(1.08); 
}

.title {
  color: #fde5a3;
  
}

.input-login {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(121, 121, 121);
}

tr:nth-child(even) {
  background:lightgray;
}